@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Oswald:wght@300;400;500&family=Playfair+Display:wght@400;500&family=Poppins:wght@200;300;400;500;600;700&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
}


table {
    width: 100%;
    text-align: center;

}

thead tr th{
    font-weight: 600;
    color: #FFF; 
}

tbody tr td{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0px;
}

.edit-btn {
    width: 70px;
    height: 25px;
    border-radius: 100px;
    border: solid 1px #FFF;
    background-color: #00000000;
    color: #FFF;
    padding: 4px 20px;
    text-decoration: none;
    font-weight: 500;
}

.edit-btn:hover {
    color: #000000;
    background-color: #FFF;
}

.delete-btn {
    padding: 4px 20px;
    border-radius: 100px;
    border: solid 1px #FFF;
    background-color: #00000000;
    color: #FFF;
    font-weight: 500;
}

.delete-btn:hover {
    color: #000000;
    background-color: #FFF;
}
    